:root { 
  box-sizing: border-box;
}
header {  
  text-align: center;
}

h1, h2 { 
  font-family: 'Acme', sans-serif;
}
p, ul {
  font-family: 'Montserrat', sans-serif;
}
/*  GAME STYLING  */
#game-container { 
  height: 450px;
  width: 75%;
  background-color: goldenrod;
  margin:auto;
  display: flex;
  border: 1px solid black;
}
 
.tower:hover :first-child{  
   border: 1px solid white;
}
.selected { 
  border: 1px solid white;
}
.tower {  
 
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
}

#brown-bar {  
  height: 50px;
  width: 75%;
  background-color: saddlebrown;
  align-self: flex-end;
  margin: auto;
  border: 1px solid black;
}



/* DISCS STYLING  */

    .piece {  
      height: 12%;
      z-index: 1;
      align-self: center;
      border: 1px solid black;
     
    }

    #first-piece {  
      background-color:brown;
      width: 20%;
    }

    #second-piece { 
      background-color:#28726E;
      width: 35% ;

    }

    #third-piece {  
      background-color: #246024;
      width: 50% ;
    }

    #fourth-piece { 
      background-color: #B4AA15;
      width: 75% ;
    }

    #fifth-piece {  
      background-color: #BC8F8F;
      width: 90%;
    }